<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>

     <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <exclude>
            <directory suffix=".php">src</directory>
            <file>./test/AbstractTesting.php</file>
            <file>./test/DummyCredentials.php</file>
            <file>./test/Model/ObjectUsedByTrait.php</file>
            <file>./test/Client/TempObject.php</file>
        </exclude>
    </coverage>


    <testsuites>
        <testsuite name="Mocean SDK Test Suite">
            <directory suffix=".php">./test/</directory>
            <exclude>./test/AbstractTesting.php</exclude>
            <exclude>./test/DummyCredentials.php</exclude>
            <exclude>./test/Model/ObjectUsedByTrait.php</exclude>
            <exclude>./test/Client/TempObject.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
